
/*Font*/
body, label, input, button, select {
  font-family: "Arial";
}

table.dataTable tr.selected td, table.dataTable td.selected {
  background-color: #5098AE!important;
}

/*Hyperlink color*/
a {
  	color: #000000;
}
   
/*boxPad class*/
.card-pane-right {
  border-radius: 5px;
  border-style: solid;
  border-color: #c7c7c7;
  border-width: 0px;
}


/*BS 4 carousel*/
.carousel{
  vertical-align: middle;
  margin: auto;
}

.leaflet-container {
   border-radius: 5px;
}

/*Style download button*/
.modButton {
  background-color: #5098AE!important;
  color: #FFFFFF!important;
  border-style: none;
  margin-bottom: 10px;
  padding-left: 13px;
  padding-right: 13px;
}


